<!-- <header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <%#= render :partial => 'spree/shared/nav_bar' %>
  <%#= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header> -->

<nav class="wrap_header">
    <!-- Brand and toggle get grouped for better mobile display 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <figure id="logo" class="columns six" data-hook><%= logo img_options: { class: 'img-responsive', width: '138' } %></figure>

    </div>-->
    <%= link_to 'VStore', spree.root_path, class: "logo" %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="wrap_menu" id="bs-example-navbar-collapse-1">
      <nav class="menu">
        <ul class="main_menu">
          <% @taxonomies.each do |taxonomy| %>
            <li class='dropdown'>
              <%= link_to  '#', data: { toggle: "dropdown" }, "aria-haspopup" => 'true' do %>
                <%= taxonomy.name %> <span class='caret'></span>
              <% end %>
              <%= nav_tree(taxonomy.root, @taxon, 1) %>
            </li>
          <% end %>
          <li>
            <%= render :partial => 'spree/shared/nav_bar' %>
          </li>
        </ul>
      </nav>
    </div><!-- /.navbar-collapse -->
</nav>
